
<div class="banner" style='background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path("drinks.jpg")%>);'>
  <div class="container">
    <h1>My list of cocktails</h1>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
      <div class="card-overview">
      <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
      <%= cl_image_tag cocktail.photo, width: 100, height: 100 %>
      </div>
      <% end %>

    </div>
    <%=link_to(image_tag("adddrink.png", width: 100, height: 100), new_cocktail_path)%>

  </div>
</div>


